@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
p {
  font-family: 'Shadows Into Light', cursive;
}
#header{
  font-size: 2.34em;
  color: #70EBFF;
  background-color: #000000
}
#name{
  font-size: 1.647em;
  color:#FF0000;
}
body{
  background-image: url("bluefrog.png");
  background-repeat: repeat;
  background-size:  auto;
}
#p1 {
  color:  #00FF00;
  background-color: #D90E7E;
  font-size: 1em;
}
#p2 {
color:  #D90E7E;
background-color: #00FF00;
}
#p3 {
  color:  #00FF00;
  background-color: #D90E7E;
}
#p4 {
color:  #D90E7E;
background-color: #00FF00;
}
#p5{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p6 {
color:  #D90E7E;
background-color: #00FF00;
}
#p7 {
  color:  #00FF00;
  background-color: #D90E7E;
}
#p8 {
color:  #D90E7E;
background-color: #00FF00;
}
#p9 {
  color:  #00FF00;
  background-color: #D90E7E;
}
#p10 {
color:  #D90E7E;
background-color: #00FF00;
}
#p11{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p12{
color:  #D90E7E;
background-color: #00FF00;
}
#p13{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p14{
color:  #D90E7E;
background-color: #00FF00;
}
#p15{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p16{
color:  #D90E7E;
background-color: #00FF00;
}
#p17{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p18{
color:  #D90E7E;
background-color: #00FF00;
}
#p19{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p20{
color:  #D90E7E;
background-color: #00FF00;
}
#p21{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p22{
  color:  #D90E7E;
  background-color: #00FF00;
}
#p23{
  color:  #00FF00;
  background-color: #D90E7E;
}
#p24{
  color:  #D90E7E;
  background-color: #00FF00;
}
